/* * {
    border: 1px solid black;
} */

#canvas {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 800px;
    height: 800px;
    margin: auto;
    border: 1px solid black;
}

#canvas.markerMode {
    cursor: crosshair;
}

#canvas.eraserMode {
    cursor: not-allowed;
}

.row {
   
    flex: 1;    
    display: flex;
    justify-content: center;
}

.cell {
    flex: 1;
}